<mat-card>
  <mat-input-container>
    <input matInput #searchTextInput [(ngModel)]="searchText" placeholder="Type to search ..." (keyup)="getCommandElements(searchTextInput.value || '')"
      (keyup.enter)='createCommandElement(searchTextInput.value)' />
  </mat-input-container>
  <button mat-raised-button mat-tooltip="Add new command" (click)="createCommandElement(searchTextInput.value)">Add</button>
  <div *ngIf="design && epicElement && entityElement && commandElements">
    <mat-card *ngFor="let commandElement of commandElements">
      <mat-card-subtitle>command</mat-card-subtitle>
      <mat-card-title [routerLink]="['/designs',design.guid,'epicelements',epicElement.guid,'entityelements',entityElement.guid,'commandelements',commandElement.guid, 'details']">{{commandElement.name}}</mat-card-title>
      <mat-card-actions align='end'>
        <button [routerLink]="['/designs',design.guid,'epicelements',epicElement.guid,'entityelements',entityElement.guid,'commandelements',commandElement.guid, 'details']"><mat-icon>details</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>
