<mat-form-field>
  <input matInput #searchTextInput [(ngModel)]="searchText" (ngModelChange)="searchTextChanged()" placeholder="Type to search ..."
    (keyup)="getProjectRoles(searchTextInput.value)" (keyup.enter)='createProjectRole(searchTextInput.value)' />
</mat-form-field>
<button [disabled]='!canAdd' mat-raised-button mat-tooltip="Add new projectrole" (click)="createProjectRole(searchTextInput.value)">Add</button>
<mat-card>
  <mat-card-actions>
    <a href="mailto:{{mailto}}"><button mat-mini-fab [(disabled)]="!mailto"><mat-icon>email circle</mat-icon></button></a>
  </mat-card-actions>
</mat-card>
<mat-card *ngFor="let projectrole of filteredProjectRoles">
  <mat-card-title-group [routerLink]="[projectrole.guid, 'details']">
    <mat-card-subtitle>
      <mat-icon>assignment</mat-icon>
    </mat-card-subtitle>
    <mat-card-title>{{projectrole.name}}</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <app-projectroleassignments projectroleguid='{{projectrole.guid}}' [project]='project'></app-projectroleassignments>
  </mat-card-content>
  <mat-card-actions align='end'>
    <button mat-mini-fab color="warn" (click)="deleteProjectRole(projectrole)">
<mat-icon>delete</mat-icon></button>
    <!--        <button [(disabled)]="!projectrole.Email" routerLink="projectrole" RouterLinkActive='active' [uiParams]="{ projectroleId: projectrole.Guid }">
<mat-icon>email circle</mat-icon></button>-->
  </mat-card-actions>
</mat-card>
