<h1>{{company.Name}}</h1>
<button uiSref='companyDetails' md-raised-button md-tooltip="Project Details">Details</button>
<button uiSref='companyProducts' md-raised-button md-tooltip="View Products for this Company">Products</button>
<button uiSref='companyContacts' md-raised-button md-tooltip="Company contacts">Contacts</button>
<md-card>

<div *ngIf="company">
   <md-input [(ngModel)]="company.Name" placeholder="Name"></md-input>
   <md-input [(ngModel)]='company.EndDate' placeholder="EndDate"></md-input>
</div>
<div *ngIf="!company">
  Error loading company
</div>
</md-card>