<mat-card>
  <mat-input-container>
    <input matInput #searchTextInput [(ngModel)]="searchText" placeholder="Type to search ..." (keyup)="getPropertyElements(searchTextInput.value || '')"
      (keyup.enter)='createPropertyElement(searchTextInput.value)' />
  </mat-input-container>
  <button mat-raised-button mat-tooltip="Add new property" (click)="createPropertyElement(searchTextInput.value)">Add</button>
  <div *ngIf="design && epicElement && entityElement && propertyElements">
    <mat-card *ngFor="let propertyElement of propertyElements">
      <mat-card-subtitle>property</mat-card-subtitle>
      <mat-card-title [routerLink]="['/designs',design.guid,'epicelements',epicElement.guid,'entityelements',entityElement.guid,'propertyelements',propertyElement.guid, 'details']">{{propertyElement.name}}</mat-card-title>
      <mat-card-actions align='end'>
        <button mat-icon-button (click)="deletePropertyElement(propertyElement)"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button [routerLink]="['/designs',design.guid,'epicelements',epicElement.guid,'entityelements',entityElement.guid,'propertyelements',propertyElement.guid, 'details']"><mat-icon>details</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>
