<md-card>
  <md-card-title *ngIf="design">{{design.name}}</md-card-title>
  <md-card-actions *ngIf="design">
    <button routerLink='details' md-raised-button md-tooltip="Details">Details</button>
    <button [routerLink]="['epicelements']" md-raised-button md-tooltip="Epics">Epics</button>
    <button [routerLink]="['links']" md-raised-button md-tooltip="Links">Links</button>
    <button [routerLink]="['files']" md-raised-button md-tooltip="Files">Files</button>
  </md-card-actions>
  <router-outlet></router-outlet>
</md-card>
<div *ngIf="!design">
  Loading ...
  <md-spinner></md-spinner>
</div>
