<mat-card *ngIf="productversion">
  <mat-card-content>
    <mat-form-field>
      <input matInput [(ngModel)]="productversion.name" placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="productversion.major" placeholder="Major" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="productversion.minor" placeholder="Minor" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="productversion.build" placeholder="Build" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="productversion.revision" placeholder="Revision" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type='date' [(ngModel)]='productversion.releaseDate' placeholder="ReleaseDate" />
    </mat-form-field>
  </mat-card-content>
</mat-card>