<mat-card *ngIf="product">
  <mat-card-content>
    <mat-card-content layout='row'>
      <mat-input-container>
        <input matInput (blur)="changeName()" [(ngModel)]="product.name" placeholder="Name" />
      </mat-input-container>
    </mat-card-content>
    <mat-card-content layout='row'>
      <mat-input-container>
        <textarea matInput (blur)="changeDescription()" rows=5 [(ngModel)]="product.description" placeholder="Description"></textarea>
      </mat-input-container>
    </mat-card-content>
    <mat-card-content layout='row'>
      <mat-input-container>
        <textarea matInput (blur)="changeBusinessCase()" rows='5' [(ngModel)]="product.businessCase" placeholder="BusinessCase"></textarea>
      </mat-input-container>
    </mat-card-content>
  </mat-card-content>
</mat-card>