<mat-card *ngIf="technology">
  <mat-card-title>{{technology.Name}}</mat-card-title>
  <mat-card-actions>
    <button [routerLink]='technologyDetails' mat-raised-button mat-tooltip="Technology Details">Details</button>
    <button [routerLink]='technologyProducts' mat-raised-button mat-tooltip="View Products for this Technology">Products</button>
    <button [routerLink]='technologyContacts' mat-raised-button mat-tooltip="Technology contacts">Contacts</button>
    <button [routerLink]="['links']" mat-raised-button mat-tooltip="Links">Links</button>
    <button [routerLink]="['files']" mat-raised-button mat-tooltip="Files">Files</button>
  </mat-card-actions>
  <div>
    <input matInput [(ngModel)]="technology.Name" placeholder="Name"/>
    <input matInput type='date' [(ngModel)]='technology.EndDate' placeholder="EndDate"/>
  </div>
</mat-card>
  <div *ngIf="!technology">
    Error loading technology
  </div>
