<mat-input-container>
  <input matInput #searchTextInput [(ngModel)]="searchText" (ngModelChange)="searchTextChanged()" placeholder="Type to search ..."
    (keyup)="getCompanyEnvironments(searchTextInput.value)" (keyup.enter)='createCompanyEnvironment(searchTextInput.value)'
  />
</mat-input-container>
<button [disabled]='!canAdd' mat-raised-button mat-tooltip="Add new companyenvironment" (click)="createCompanyEnvironment(searchTextInput.value)">Add</button>
<mat-card *ngFor="let companyenvironment of companyenvironments">
  <mat-card-title-group [routerLink]="[companyenvironment.guid, 'details']">
    <mat-card-subtitle>
      <mat-icon>settings input composite</mat-icon>
    </mat-card-subtitle>
    <mat-card-title>{{companyenvironment.name}}</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <a [href]="companyenvironment.url">{{companyenvironment.url}}</a>
  </mat-card-content>
  <mat-card-actions align='end'>
    <button mat-mini-fab color="warn" (click)="deleteCompanyEnvironment(companyenvironment)">
      <mat-icon>delete</mat-icon>
    </button>
    <!--        <button [(disabled)]="!companyenvironment.Email" routerLink="companyenvironment" RouterLinkActive='active' [uiParams]="{ companyenvironmentId: companyenvironment.Guid }">
<mat-icon>email circle</mat-icon></button>-->
  </mat-card-actions>
</mat-card>