<mat-card *ngIf="hardwareitem">
  <mat-card-content>
    <mat-card-content layout='row'>
      <mat-input-container>
        <input matInput (blur)="changeName()" [(ngModel)]="hardwareitem.name" placeholder="Name" />
      </mat-input-container>
    </mat-card-content>
    <mat-card-content layout='row'>
      <mat-input-container>
        <input matInput (blur)="changeIPAddress()" [(ngModel)]="hardwareitem.ipAddress" placeholder="Ip" />
      </mat-input-container>
    </mat-card-content>
  </mat-card-content>
</mat-card>
