<md-card>
  <p>
    <md-input #searchTextInput [(ngModel)]="searchText" placeholder="Type to search ..." (keyup)="getContacts(searchTextInput.value || '')" (keyup.enter)='createContact(searchTextInput.value)'></md-input>
    <button md-raised-button md-tooltip="Add new contact" (click)="createContact(searchTextInput.value)">Add</button>
  </p>

  <md-card *ngFor="let contact of contacts">
    <md-card-title-group>
      <md-card-subtitle>
        <md-icon>person circle</md-icon>
      </md-card-subtitle>
      <md-card-title>{{contact.Name}}</md-card-title>
    </md-card-title-group>
    <md-card-content>
      <div>{{contact.FirstName}} ...</div>
    </md-card-content>
    <md-card-actions align='end'>
      <button [routerLink]="[contact.Guid]"><md-icon>details circle</md-icon></button>
      <button [(disabled)]="!contact.Email" [routerLink]="[contact.Guid]"><md-icon>email circle</md-icon></button>
    </md-card-actions>
  </md-card>
</md-card>