<md-card>
  <md-card-actions>
    <button (click)="openContactsDialog()"><md-icon>add</md-icon></button>
  </md-card-actions>
  <md-card-content>
    <div>{{companyroleguid}}</div>
    <!-- todo: make a reusable selected contacts control? -->
    <md-list *ngIf="employments">
      <md-list-item>
        <div *ngFor="let employment of employments">{{employment.contactName}}
          <md-icon (click)="deleteEmployment(employment)"> delete</md-icon><span style="white-space:pre-wrap" *ngIf="employments.length>1">; </span> </div>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>