<md-card *ngIf="companyenvironment">
  <md-card-content>
    <md-input-container>
      <input mdInput (blur)="changeName()" [(ngModel)]="companyenvironment.name" placeholder="Name" />
    </md-input-container>
    <md-input-container>
      <input mdInput type="url" (blur)="changeUrl()" [(ngModel)]="companyenvironment.url" placeholder="Url" />
      <md-hint *ngIf="urlMissingHttp()" color="warn">
        Missing http(s)://
      </md-hint>
    </md-input-container>
  </md-card-content>
</md-card>
    <!-- just a test 
      <input type="file" name="files" multiple/>
-->