<mat-card *ngIf="companyenvironment">
  <mat-card-content>
    <mat-input-container>
      <input matInput (blur)="changeName()" [(ngModel)]="companyenvironment.name" placeholder="Name" />
    </mat-input-container>
    <mat-input-container>
      <input matInput type="url" (blur)="changeUrl()" [(ngModel)]="companyenvironment.url" placeholder="Url" />
      <mat-hint *ngIf="urlMissingHttp()" color="warn">
        Missing http(s)://
      </mat-hint>
    </mat-input-container>
  </mat-card-content>
</mat-card>
    <!-- just a test 
      <input type="file" name="files" multiple/>
-->