<md-card>
  <md-card-title *ngIf="company">{{company.name}}</md-card-title>
  <md-card-actions *ngIf="company">
    <button routerLink='details' md-raised-button md-tooltip="Company Details">Details</button>
    <button routerLink='roles' md-raised-button md-tooltip="todo: View Roles for this Company">Roles</button>
    <button routerLink='environments' md-raised-button md-tooltip="todo: View environments for this Company">Environments</button>
    <button [routerLink]="['links']" md-raised-button md-tooltip="Links">Links</button>
    <button [routerLink]="['files']" md-raised-button md-tooltip="Files">Files</button>
    <button [routerLink]="['commands']" md-raised-button md-tooltip="Commands">Audit</button>
  </md-card-actions>
  <router-outlet></router-outlet>
</md-card>
<div *ngIf="!company">
  <md-spinner></md-spinner>
</div>
