<mat-card>
  <mat-form-field>
    <input type="search" matInput #searchTextInput [(ngModel)]="searchText" (ngModelChange)="searchTextChanged()" placeholder="Type to search ..." (keyup)="getDesigns()" (keyup.enter)='createDesign(searchTextInput.value)' />
  </mat-form-field>
  <button [disabled]='!canAdd' mat-raised-button mat-tooltip="Add new design" (click)="createDesign(searchTextInput.value)">Add</button>

  <mat-card *ngFor="let design of designs">
    <mat-card-title-group [routerLink]="[design.guid, 'details']">
      <mat-card-subtitle>
        <mat-icon>shopping cart</mat-icon>
      </mat-card-subtitle>
      <mat-card-title>{{design.name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <div>{{design.description}}</div>
    </mat-card-content>
    <mat-card-actions align='end'>
      <button mat-mini-fab [routerLink]="[design.guid, 'details']">
<mat-icon>details circle</mat-icon></button>
      <button mat-mini-fab [routerLink]="[design.guid]">
<mat-icon>share circle</mat-icon></button>
      <button mat-mini-fab color="warn" (click)="deleteDesign(design)">
<mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</mat-card>