<mat-card *ngIf="company">
  <mat-card-content>
    <mat-form-field>
      <input matInput (blur)="changeName()" [(ngModel)]="company.name" placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput (blur)="changeCode()" [(ngModel)]="company.code" placeholder="Code" />
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput (blur)="changeExternalId()" [(ngModel)]="company.externalId" placeholder="ExternalId" />
    </mat-form-field> -->
  </mat-card-content>
</mat-card>
