<mat-card>
  <mat-input-container>
    <input matInput #searchTextInput [(ngModel)]="searchText" (ngModelChange)="searchTextChanged()" placeholder="Type to search ..."
      (keyup)="getAccounts(searchTextInput.value)" (keyup.enter)='createAccount(searchTextInput.value)'
    />
  </mat-input-container>
  <button [disabled]='!canAdd' mat-raised-button mat-tooltip="Add new account" (click)="createAccount(searchTextInput.value)">Add</button>
  <mat-card *ngFor="let account of accounts">
    <mat-card-title-group [routerLink]="[account.guid, 'details']">
      <mat-card-subtitle>
        <mat-icon>settings input composite</mat-icon>
      </mat-card-subtitle>
      <mat-card-title>{{account.name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-actions align='end'>
      <button mat-mini-fab color="warn" (click)="deleteAccount(account)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</mat-card>