<mat-card>
  <app-searchandadd [(searchText)]="searchText" (onFilter)="getAccounts($event)" (onCreate)="createAccount($event)"></app-searchandadd>

  <mat-card *ngFor="let account of accounts">
    <mat-card-title-group [routerLink]="[account.guid, 'details']">
      <mat-card-subtitle>
        <mat-icon>settings input composite</mat-icon>
      </mat-card-subtitle>
      <mat-card-title>{{account.name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-actions align='end'>
      <button mat-mini-fab color="warn" (click)="deleteAccount(account)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</mat-card>