<md-card>
  <p>
    <md-input #searchTextInput [(ngModel)]="searchText" placeholder="Type to search ..." (keyup)="getProjects(searchTextInput.value)" (keyup.enter)='createProject(searchTextInput.value)'></md-input>
    <button md-raised-button md-tooltip="Add new project" (click)="createProject(searchTextInput.value)">Add</button>
  </p>
  <p hidden>
    <md-checkbox>Only my projects ... </md-checkbox>
  </p>
  <md-card *ngFor="let project of projects">
    <md-card-title-group>
      <md-card-subtitle>
        <md-icon>assignment circle</md-icon>
      </md-card-subtitle>
      <md-card-title>{{project.Name}}</md-card-title>
    </md-card-title-group>
    <md-card-content>
      <div>{{project.Description}} ...</div>
    </md-card-content>
    <md-card-actions align='end'>
      <button [routerLink]="[project.Guid]">
<md-icon>details</md-icon></button>
      <!--        <button [(disabled)]="!project.Email" routerLink="project" RouterLinkActive='active' [uiParams]="{ projectId: project.Guid }">
<md-icon>email circle</md-icon></button>-->
    </md-card-actions>
  </md-card>
</md-card>