<md-list>
  <p>
    <md-input #searchTextInput [(ngModel)]="searchText" placeholder="Type to search ..." (keyup)="getProjects(searchTextInput.value)" (keyup.enter)='createProject(searchTextInput.value)'></md-input>
    <button md-raised-button md-tooltip="Add new project" (click)="createProject(searchTextInput.value)">Add</button>
  </p>
  <p hidden>
    <md-checkbox>Only my projects ... </md-checkbox>
  </p>
  <md-list-item *ngFor="let project of projects">    
    <md-icon>assignment circle</md-icon><a uiSref="project" [uiParams]="{ id: project.Guid }" uiSrefActive="active">{{project.Name}}</a>
  </md-list-item>    
</md-list>
