<div *ngIf="contact">
  <mat-form-field>
    <input matInput (blur)="changeName()" [(ngModel)]="contact.name" placeholder="Name" />
  </mat-form-field>
  <mat-form-field>
    <input matInput (blur)="changeEmail()" [(ngModel)]="contact.email" placeholder="email" />
  </mat-form-field>
  <mat-form-field>
    <input matInput (blur)="changeBirthDate()" type='date' [(ngModel)]='contact.birthDate' placeholder="BirthDate" />
  </mat-form-field>
  <div style="width:40%">
    <img *ngIf="contact.avatarUrl" [src]="contact.avatarUrl" />
  </div>
  <div style="width: 40%">
    <app-file-upload dragTitle="Drag image here to set as avatar" browseTitle="Or select an image from your computer" (onFileUploaded)="onFileUploaded($event)"></app-file-upload>
  </div>
</div>
