<div *ngIf="productinstallation">
    <mat-input-container>
      <input matInput (blur)="changeStartDate()" type='date' [(ngModel)]='productinstallation.startDate' placeholder="StartDate" />
    </mat-input-container>
    <mat-input-container>
      <input matInput (blur)="changeEndDate()" type='date' [(ngModel)]='productinstallation.endDate' placeholder="EndDate" />
    </mat-input-container>
    <mat-input-container>
        <input matInput (blur)="changeExternalId()" type='string' [(ngModel)]='productinstallation.externalId' placeholder="ExternalId" />
      </mat-input-container>
    </div>