<div *ngIf="productinstallation">
  <mat-form-field>
    <input matInput (blur)="changeStartDate()" type='date' [(ngModel)]='productinstallation.startDate' placeholder="StartDate"
    />
  </mat-form-field>
  <mat-form-field>
    <input matInput (blur)="changeEndDate()" type='date' [(ngModel)]='productinstallation.endDate' placeholder="EndDate" />
  </mat-form-field>
  <mat-form-field>
    <input matInput (blur)="changeExternalId()" type='string' [(ngModel)]='productinstallation.externalId' placeholder="ExternalId"
    />
  </mat-form-field>
</div>