<mat-card *ngIf="configoption">
  <mat-card-content>
    <mat-card-content layout='row'>
      <mat-form-field>
        <input matInput (blur)="changeName()" [(ngModel)]="configoption.name" placeholder="Name" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-content layout='row'>
      <mat-form-field>
        <input matInput (blur)="changeDefaultValue()" [(ngModel)]="configoption.defaultValue" placeholder="Default Value" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-content layout='row'>
      <mat-form-field>
        <textarea matInput (blur)="changeDescription()" rows=5 [(ngModel)]="configoption.description" placeholder="Description"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card-content>
</mat-card>
