<mat-input-container>
  <input matInput type="search" #searchTextInput [(ngModel)]="searchText" (ngModelChange)="filterCommands()" placeholder="Type to search ..." />
</mat-input-container>
<mat-card *ngFor="let command of commands">
  <mat-card-title-group>
    <mat-card-subtitle>
      <mat-icon>command</mat-icon>
    </mat-card-subtitle>
    <mat-card-title>{{command.name}}{{command.entity}}</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <p>{{command.parametersJson | json}}</p>
    <div>Created by {{command.userName}} on {{command.createdOn}}</div>
    <div>Executed on {{command.executedOn}}</div>
  </mat-card-content>