<mat-card>
  <app-searchandadd [(searchText)]="searchText" (onCreate)="createEpicElement($event)" (onFilter)="getEpicElements($event)"></app-searchandadd>
  <div *ngIf="epicElements">
    <mat-card *ngFor="let epicElement of epicElements">
      <mat-card-subtitle>epic</mat-card-subtitle>
      <mat-card-title [routerLink]="['/designs', design.guid, 'epicelements', epicElement.guid, 'details']">{{epicElement.name}}</mat-card-title>
      <mat-card-actions align='end'>
        <button [routerLink]="['/designs', design.guid, 'epicelements', epicElement.guid, 'details']"><mat-icon>details</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>
