<mat-card>
  <mat-input-container>
    <input matInput #searchTextInput [(ngModel)]="searchText" placeholder="Type to search ..." (keyup)="getEpicElements(searchTextInput.value || '')"
      (keyup.enter)='createEpicElement(searchTextInput.value)' />
  </mat-input-container>
  <button mat-raised-button mat-tooltip="Add new version" (click)="createEpicElement(searchTextInput.value)">Add</button>
  <div *ngIf="epicElements">
    <mat-card *ngFor="let epicElement of epicElements">
      <mat-card-subtitle>epic</mat-card-subtitle>
      <mat-card-title [routerLink]="['/designs', design.guid, 'epicelements', epicElement.guid, 'details']">{{epicElement.name}}</mat-card-title>
      <mat-card-actions align='end'>
        <button [routerLink]="['/designs', design.guid, 'epicelements', epicElement.guid, 'details']"><mat-icon>details</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>
