<mat-card *ngIf="register">
  <mat-card-title>{{register.title}}</mat-card-title>
  <mat-form-field>
    <input matInput [(ngModel)]="register.name" placeholder="UserName" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" [(ngModel)]="register.email" placeholder="Email address" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type='password' [(ngModel)]='register.password' placeholder="Password" />
  </mat-form-field>
    <mat-form-field>
    <input matInput type='password' [(ngModel)]='register.repassword' placeholder="Repeat password" />
  </mat-form-field>
  <mat-card-actions>
    <button mat-raised-button (click)="doRegister()">Register</button>
  </mat-card-actions>
</mat-card>
<div *ngIf="!register">
  <mat-spinner></mat-spinner>
</div>