<div *ngIf="projectroleassignments">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div style="margin-right:0.5em">
      <button mat-mini-fab (click)="openContactsDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div fxFlex>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
        <div style="margin-left: 0.2em" *ngFor="let projectroleassignment of projectroleassignments">
          <app-contact-card [contactGuid]="projectroleassignment.contactGuid"></app-contact-card>
          <button mat-icon-button (click)="deleteProjectRoleAssignment(projectroleassignment)">
            <mat-icon mat-mini-fab>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>