<md-card>
  <md-card-title *ngIf="contact">{{contact.name}}</md-card-title>
  <md-card-actions *ngIf="contact">
    <button routerLink='details' md-raised-button md-tooltip="in progress: Contact Details">Details</button>
    <button routerLink='contactProducts' md-raised-button md-tooltip="todo: View Products this Contact has worked on">Products</button>
    <button routerLink='roles' md-raised-button md-tooltip="in progress: Contact Roles">Roles</button>
  </md-card-actions>
  <router-outlet></router-outlet>
</md-card>
<div *ngIf="!contact">
  loading ...  <md-spinner></md-spinner>
</div>
