<md-card >
  <md-card-title *ngIf="productversion">Version {{productversion.name}}</md-card-title>
  <md-card-content *ngIf="product"><div [routerLink]="['/products', product.guid, 'versions']">{{product.name}}</div></md-card-content>
  <button routerLink="details" md-raised-button md-tooltip="todo: Product Details">Details</button>
  <button routerLink="features" md-raised-button md-tooltip="todo: features in or requested for this version">Features</button>
  <button [routerLink]="['issues']" md-raised-button md-tooltip="todo: view issues in or fixed in this version">Issues</button>
  <button [routerLink]="['installations']" md-raised-button md-tooltip="todo: installations of this version">Installations</button>
  <router-outlet>
  </router-outlet>
</md-card>
<div *ngIf="!productversion">
  Loading productversion <md-spinner></md-spinner>
</div>
