<md-card *ngIf="productversion">
  <md-card-title>{{productversion.name}}</md-card-title>
  <button routerLink="details" md-raised-button md-tooltip="todo: Product Details">Details</button>
  <button routerLink="productfeatures" md-raised-button md-tooltip="todo: features in or requested for this version">Features</button>
  <button [routerLink]="['issues']" md-raised-button md-tooltip="todo: view issues in or fixed in this version">Issues</button>
  <button [routerLink]="['installations']" md-raised-button md-tooltip="todo: installations of this version">Installations</button>
  <router-outlet>
  </router-outlet>
</md-card>
<div *ngIf="!productversion">
  Loading productversion
    <router-outlet>
  </router-outlet>
</div>
