<mat-card *ngIf="entityElement">
  <mat-card-content>
    <mat-card-content layout='row'>
      <mat-input-container>
        <input matInput (blur)="changeName()" [(ngModel)]="entityElement.name" placeholder="Name" />
      </mat-input-container>
    </mat-card-content>
    <mat-card-content layout='row'>
      <mat-input-container>
        <textarea matInput (blur)="changeDescription()" rows=5 [(ngModel)]="entityElement.description" placeholder="Description"></textarea>
      </mat-input-container>
    </mat-card-content>
    <mat-card-content layout='row'>
      <mat-input-container>
        <input matInput (blur)="changePluralName()" [(ngModel)]="entityElement.pluralName" placeholder="Plural Name" />
        <mat-hint align="start">Will be used for collections of this entity</mat-hint>
    </mat-input-container>
    </mat-card-content>
    <mat-card-content layout='row'>
      <mat-slide-toggle (ngModelChange)="changeIsCollection($event)" [(ngModel)]="entityElement.isCollection">One-to-many (children) relationship</mat-slide-toggle>
    </mat-card-content>
  </mat-card-content>
</mat-card>