<mat-card>
  <mat-input-container>
    <input type="search" matInput #searchTextInput [(ngModel)]="searchText" placeholder="Type to search ..." (keyup)="getTechnologies(searchTextInput.value || '')"
      (keyup.enter)='createTechnology(searchTextInput.value)' />
  </mat-input-container>
  <button mat-raised-button mat-tooltip="Add new technology" (click)="createTechnology(searchTextInput.value)">Add</button>
  <p hidden>
    <mat-checkbox>Only my technologies ... </mat-checkbox>
  </p>
  <mat-card *ngFor="let technology of technologies">
    <mat-card-title-group>
      <mat-card-subtitle>
        <mat-icon>build</mat-icon>
      </mat-card-subtitle>
      <mat-card-title>{{technology.Name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <div>{{technology.Description}} ...</div>
    </mat-card-content>
    <mat-card-actions align='end'>
      <button mat-mini-fab [routerLink]="[technology.Guid]"><mat-icon>details circle</mat-icon></button>
      <button mat-mini-fab [routerLink]="[technology.Guid]"><mat-icon>share circle</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</mat-card>
