<md-card>
  <p>
    <md-input #searchTextInput [(ngModel)]="searchText" placeholder="Type to search ..." (keyup)="getTechnologies(searchTextInput.value || '')" (keyup.enter)='createTechnology(searchTextInput.value)'></md-input>
    <button md-raised-button md-tooltip="Add new technology" (click)="createTechnology(searchTextInput.value)">Add</button>
  </p>
  <p hidden>
    <md-checkbox>Only my technologies ... </md-checkbox>
  </p>
  <md-card *ngFor="let technology of technologies">    
    <md-card-title-group>
      <md-card-subtitle>
        <md-icon>build</md-icon>
      </md-card-subtitle>
      <md-card-title>{{technology.Name}}</md-card-title>
    </md-card-title-group>
    <md-card-content>
      <div>{{technology.Description}} ...</div>
    </md-card-content>
    <md-card-actions align='end'>
      <button uiSref="technology" [uiParams]="{ technologyId: technology.Guid }">
<md-icon>details circle</md-icon></button>
      <button uiSref="technology" [uiParams]="{ technologyId: technology.Guid }">
<md-icon>share circle</md-icon></button>
    </md-card-actions>
      </md-card>    
</md-card>  
