<md-card class='flex-h' color='primary'>
  <md-card-title>
    {{title}} <a href='https://github.com/niwrA/Software-Management-Angular2-Client'><md-icon>code</md-icon></a>
  </md-card-title>
  <div>
    <button routerLink="/projects" color='primary' md-raised-button md-tooltip="View Projects">Projects</button>
    <button routerLink="/products"  color='primary' md-raised-button md-tooltip="View Products">Products</button>
    <button routerLink='/companies' color='primary' md-raised-button md-tooltip="View Companies">Companies</button>
    <button routerLink='/contacts' color='primary' md-raised-button md-tooltip="View Contacts">Contacts</button>
    <button routerLink='/technologies' color='primary' md-raised-button md-tooltip="View Technologies">Technologies</button>
  </div>
</md-card>
<!--  <ui-view></ui-view>-->
<router-outlet></router-outlet>
<!--<md-card>
  <md-tab-group>
    <md-tab label="Projects">
      <app-projects></app-projects>
    </md-tab>
    <md-tab label="Products">
      <app-products></app-products>
    </md-tab>
    <md-tab label="Customers">
      <app-customers></app-customers>
    </md-tab>
    <md-tab label="Technologies">
      <app-technologies></app-technologies>
    </md-tab>
  </md-tab-group>
</md-card>
-->