<md-toolbar color="primary">
   {{title}}
  <span class="app-toolbar-filler"></span>
</md-toolbar>
<md-toolbar>
<button uiSref='projects' md-raised-button md-tooltip="View Projects">Projects</button>
<button uiSref='products' md-raised-button md-tooltip="View Products">Products</button>
<button uiSref='customers' md-raised-button md-tooltip="View Customers">Customers</button>
<button uiSref='technologies' md-raised-button md-tooltip="View Technologies">Technologies</button>
</md-toolbar>
<ui-view></ui-view>
<!--<md-card>
  <md-tab-group>
    <md-tab label="Projects">
      <app-projects></app-projects>
    </md-tab>
    <md-tab label="Products">
      <app-products></app-products>
    </md-tab>
    <md-tab label="Customers">
      <app-customers></app-customers>
    </md-tab>
    <md-tab label="Technologies">
      <app-technologies></app-technologies>
    </md-tab>
  </md-tab-group>
</md-card>
-->