<md-card class='flex-h' color='primary'>
  <md-card-title>
    {{title}} <a href='https://github.com/niwrA/Software-Management-Angular2-Client'><md-icon>code</md-icon></a>
  </md-card-title>
  <div>
<!--    <app-ui-menu [menuitems]="menuitems"></app-ui-menu>-->
    <button (click)="showProjects(true)" color='{{projectsColor}}' md-raised-button md-tooltip="View Projects">Projects</button>
    <button (click)="showProducts(true)" color='{{productsColor}}' md-raised-button md-tooltip="View Products">Products</button>
    <button (click)='showCompanies(true)' color='{{companiesColor}}' md-raised-button md-tooltip="View Companies">Companies</button>
    <button (click)='showContacts(true)' color='{{contactsColor}}' md-raised-button md-tooltip="View Contacts">Contacts</button>
    <button (click)='showTechnologies(true)' color='{{technologiesColor}}' md-raised-button md-tooltip="View Technologies">Technologies</button>
    <button *ngIf="isAdmin()" routerLink='/admin' md-raised-button md-tooltip="admin">Admin</button>
    <button *ngIf="!isLoggedIn()" (click)='showLogin(true)' color='{{loginColor}}' md-raised-button md-tooltip="todo: login">Login</button>
    <button *ngIf="isLoggedIn()" (click)='logout()' md-raised-button md-tooltip="todo: logout">Logout</button>
  </div>
</md-card>
<!--  <ui-view></ui-view>-->
<router-outlet></router-outlet>
<!--<md-card>
  <md-tab-group>
    <md-tab label="Projects">
      <app-projects></app-projects>
    </md-tab>
    <md-tab label="Products">
      <app-products></app-products>
    </md-tab>
    <md-tab label="Customers">
      <app-customers></app-customers>
    </md-tab>
    <md-tab label="Technologies">
      <app-technologies></app-technologies>
    </md-tab>
  </md-tab-group>
</md-card>
-->