<mat-card>
  <mat-card-title *ngIf="project">{{project.name}}</mat-card-title>
  <mat-card-actions *ngIf="project">
    <button routerLink='details' mat-raised-button mat-tooltip="in progress: Project Details">Details</button>
    <button routerLink='projectProducts' mat-raised-button mat-tooltip="todo: View Products involved in this Project">Products</button>
    <button routerLink='roles' mat-raised-button mat-tooltip="in progress: Project Roles">Roles</button>
    <button [routerLink]="['links']" mat-raised-button mat-tooltip="Links">Links</button>
    <button [routerLink]="['files']" mat-raised-button mat-tooltip="Files">Files</button>
    <button [routerLink]="['commands']" mat-raised-button mat-tooltip="Commands">Audit</button>
  </mat-card-actions>
  <router-outlet></router-outlet>
</mat-card>
<div *ngIf="!project">
  loading ...
  <mat-progress-spinner></mat-progress-spinner>
</div>
