<mat-card>
  <mat-input-container>
    <input matInput #searchTextInput [(ngModel)]="searchText" placeholder="Type to search ..." (keyup)="getProductIssues(searchTextInput.value || '')"
      (keyup.enter)='createProductIssue(searchTextInput.value)' />
  </mat-input-container>
  <button *ngIf="versionGuid" mat-raised-button mat-tooltip="Add new issue" (click)="createProductIssue(searchTextInput.value)">Add</button>
  <mat-card *ngFor="let productissue of productissues">
    <mat-card-title-group [routerLink]="['/products', productissue.productGuid, 'issues', productissue.guid, 'details']">
      <mat-card-subtitle>
        <mat-icon>bug_report</mat-icon>
        <mat-icon color="warn" *ngIf="productissue.isCritical">error_outline</mat-icon>
      </mat-card-subtitle>
      <mat-card-title>{{productissue.name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>{{productissue.description}}</mat-card-content>
    <mat-card-actions align='end'>
      <button mat-mini-fab [routerLink]="['/products', productissue.productGuid, 'issues', productissue.guid, 'details']"><mat-icon>details</mat-icon></button>
      <button mat-mini-fab color="warn" (click)="deleteProductIssue(productissue)"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</mat-card>
