<mat-card>
  <mat-card-title *ngIf="configoption">{{configoption.name}}</mat-card-title>
  <mat-card-content *ngIf="product">
    <span *ngIf="parent && product" [routerLink]="['/products', product.guid, 'configoptions', parent.guid, 'children']">child of {{parent.name}} for </span>
    <span [routerLink]="['/products', product.guid, 'configoptions']">{{product.name}}</span>
  </mat-card-content>
  <app-navbar [(navLinks)]="navLinks"></app-navbar>
  <router-outlet></router-outlet>
</mat-card>
<div *ngIf="!configoption">
  <mat-spinner></mat-spinner>
  Loading productconfigoption
</div>