<mat-card *ngIf="productissue">
  <mat-card-content>
    <mat-card-content layout='row'>
      <mat-input-container>
        <input matInput (blur)="changeName()" [(ngModel)]="productissue.name" placeholder="Name" />
      </mat-input-container>
    </mat-card-content>
    <mat-card-content layout='row'>
      <mat-input-container>
        <textarea matInput (blur)="changeDescription()" rows=5 [(ngModel)]="productissue.description" placeholder="Description"></textarea>
      </mat-input-container>
    </mat-card-content>
  </mat-card-content>
</mat-card>
