<md-card>
  <md-card-title *ngIf="productfeature">{{productfeature.name}}</md-card-title>
  <md-card-content *ngIf="product">
    <div [routerLink]="['/products', product.guid, 'features']">{{product.name}}</div>
  </md-card-content>
  <button [routerLink]='productfeatureDetails' md-raised-button md-tooltip="todo: productfeature Details">Details</button>
  <button routerLink="productfeatureissues" md-raised-button md-tooltip="todo: known issues for this  feature">Issues</button>
  <button [routerLink]='productfeatureconfigs' md-raised-button md-tooltip="todo: configuration options for this feature">Configs</button>
  <button [routerLink]='productfeaturerequests' md-raised-button md-tooltip="todo: who requested this feature">Requests</button>
  <router-outlet></router-outlet>
</md-card>
<div *ngIf="!productfeature">
  <md-spinner></md-spinner>
  Loading productfeature
</div>
