<mat-card>
  <app-searchandadd [(searchText)]="searchText" (onFilter)="getCompanyEnvironmentHardware($event)" (onCreate)="createCompanyEnvironmentHardwareItem($event)"></app-searchandadd>
  <mat-card *ngFor="let hardware of companyenvironmenthardware">
    <mat-card-title-group [routerLink]="[hardware.guid, 'details']">
      <mat-card-subtitle>
        <mat-icon>settings input composite</mat-icon>
      </mat-card-subtitle>
      <mat-card-title>{{hardware.name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <div>{{hardware.ipAddress}}</div>
    </mat-card-content>
    <mat-card-actions align='end'>
      <button mat-mini-fab color="warn" (click)="deleteCompanyEnvironmentHardware(hardware)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</mat-card>