<p>
  <md-input #searchTextInput [(ngModel)]="searchText" (ngModelChange)="searchTextChanged()" placeholder="Type to search ..."
    (keyup)="getCompanyRoles(searchTextInput.value)" (keyup.enter)='createCompanyRole(searchTextInput.value)'></md-input>
  <button [disabled]='!canAdd' md-raised-button md-tooltip="Add new companyrole" (click)="createCompanyRole(searchTextInput.value)">Add</button>
</p>
<md-card *ngFor="let companyrole of companyroles">
  <md-card-title-group [routerLink]="[companyrole.guid]">
    <md-card-subtitle>
      <md-icon>assignment</md-icon>
    </md-card-subtitle>
    <md-card-title>{{companyrole.name}}</md-card-title>
  </md-card-title-group>
  <md-card-actions align='end'>
    <button (click)="selectContacts(companyrole)"><md-icon>add circle</md-icon></button>
    <button (click)="deleteCompanyRole(companyrole)"><md-icon>delete</md-icon></button>
  </md-card-actions>
</md-card>
