<app-searchandadd [(searchText)]="searchText" (onCreate)="createCompanyRole($event)" (onFilter)="getCompanyRoles($event)"></app-searchandadd>
<mat-card *ngFor="let companyrole of companyroles">
  <mat-card-title-group [routerLink]="[companyrole.guid]">
    <mat-card-subtitle>
      <mat-icon>assignment</mat-icon>
    </mat-card-subtitle>
    <mat-card-title>{{companyrole.name}}</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <app-employments companyroleguid='{{companyrole.guid}}'></app-employments>
  </mat-card-content>
  <mat-card-actions align='end'>
    <button mat-mini-fab color="warn" (click)="deleteCompanyRole(companyrole)">
<mat-icon>delete</mat-icon></button>
    <!--        <button [(disabled)]="!companyrole.Email" routerLink="companyrole" RouterLinkActive='active' [uiParams]="{ companyroleId: companyrole.Guid }">
<mat-icon>email circle</mat-icon></button>-->
  </mat-card-actions>
</mat-card>