<md-card>
  <md-input-container>
    <input mdInput #searchTextInput [(ngModel)]="searchText" (ngModelChange)="searchTextChanged()" placeholder="Type to search ..." (keyup)="getProducts()" (keyup.enter)='createProduct(searchTextInput.value)' />
  </md-input-container>
  <button [disabled]='!canAdd' md-raised-button md-tooltip="Add new product" (click)="createProduct(searchTextInput.value)">Add</button>

  <md-card *ngFor="let product of products">
    <md-card-title-group [routerLink]="[product.guid, 'details']">
      <md-card-subtitle>
        <md-icon>shopping cart</md-icon>
      </md-card-subtitle>
      <md-card-title>{{product.name}}</md-card-title>
    </md-card-title-group>
    <md-card-content>
      <div>{{product.description}}</div>
    </md-card-content>
    <md-card-actions align='end'>
      <button [routerLink]="[product.guid, 'details']">
<md-icon>details circle</md-icon></button>
      <button [routerLink]="[product.guid]">
<md-icon>share circle</md-icon></button>
      <button (click)="deleteProduct(product)">
<md-icon>delete</md-icon></button>
    </md-card-actions>
  </md-card>
</md-card>