<mat-card>
  <app-searchandadd [(searchText)]="searchText" (onCreate)="createProduct($event)" (onFilter)="getProducts($event)"></app-searchandadd>
  <mat-list *ngIf="selectedProducts.length>0">
    <mat-list-item>
      <div style="white-space:pre-wrap" *ngFor="let contact of selectedProducts">{{contact.name}}<span *ngIf="selectedProducts.length>1">; </span> </div>
    </mat-list-item>
  </mat-list>
  <mat-card *ngFor="let product of products">
    <mat-checkbox style="float:right" [(ngModel)]="product.isSelected" (click)="toggleSelect(product)" align='end'></mat-checkbox>
    <mat-card-title-group [routerLink]="[product.guid, 'details']">
      <mat-card-subtitle>
        <mat-icon>shopping cart</mat-icon>
      </mat-card-subtitle>
      <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <div>{{product.description}}</div>
    </mat-card-content>
    <mat-card-actions align='end'>
      <button mat-mini-fab [routerLink]="[product.guid, 'details']">
<mat-icon>details circle</mat-icon></button>
      <button mat-mini-fab [routerLink]="[product.guid]">
<mat-icon>share circle</mat-icon></button>
      <button mat-mini-fab color="warn" (click)="deleteProduct(product)">
<mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</mat-card>
