<md-list>
  <p>
    <md-input #searchTextInput [(ngModel)]="searchText" placeholder="Type to search ..." (keyup)="getProducts(searchTextInput.value || '')" (keyup.enter)='createProduct(searchTextInput.value)'></md-input>
    <button md-raised-button md-tooltip="Add new product" (click)="createProduct(searchTextInput.value)">Add</button>
  </p>
  <p hidden>
    <md-checkbox>Only my products ... </md-checkbox>
  </p>
  <md-list-item *ngFor="let product of products">    
    <md-icon>assignment circle</md-icon><a uiSref="product" [uiParams]="{ id: product.Guid }" uiSrefActive="active">{{product.Name}}</a>
  </md-list-item>    
</md-list>  
