<h1>{{product.Name}}</h1>
<button uiSref='productDetails' md-raised-button md-tooltip="todo: Product Details">Details</button>
<button uiSref='product.productversions' [uiParams]="{ productId: product.Guid }" md-raised-button md-tooltip="Product Versions">Versions</button>
<button uiSref='productCompanies' md-raised-button md-tooltip="todo: View Companies using this Product">Companies</button>
<button uiSref='productContacts' md-raised-button md-tooltip="todo: Product contacts">Contacts</button>
<md-card class='flex-h'>
  <div *ngIf="product">
    <md-input [(ngModel)]="product.Name" placeholder="Name"></md-input>
    <textarea [(ngModel)]="product.Description" placeholder="Description"></textarea>
    <textarea [(ngModel)]="product.BusinessCase" placeholder="BusinessCase"></textarea>
    <md-input [(ngModel)]='product.EndDate' placeholder="EndDate"></md-input>
  </div>
  <div *ngIf="!product">
    Error loading product
  </div>
  <div>
    <ui-view>
    </ui-view>
  </div>
</md-card>
