<md-card>
  <md-input-container>
    <input mdInput #searchTextInput [(ngModel)]="searchText" placeholder="Type to search ..." (keyup)="getProductVersions(searchTextInput.value || '')"
      (keyup.enter)='createProductVersion(searchTextInput.value)' />
  </md-input-container>
  <button md-raised-button md-tooltip="Add new version" (click)="createProductVersion(searchTextInput.value)">Add</button>
  <div *ngIf="productversions">
    <md-card *ngFor="let productversion of productversions">
      <md-card-title-group [routerLink]="['/products', productversion.productGuid, 'versions', productversion.guid, 'details']">
        <md-card-subtitle>
          <md-icon>assignment circle</md-icon>
        </md-card-subtitle>
        <md-card-title>{{productversion.name}}</md-card-title>
      </md-card-title-group>
      <md-card-content>
        <div>{{productversion.releaseDate | date:'yyyy-MM-dd'}}</div>
      </md-card-content>
      <md-card-actions align='end'>
        <button [routerLink]="['/products', productversion.productGuid, 'versions', productversion.guid, 'details']"><md-icon>details</md-icon></button>
      </md-card-actions>
    </md-card>
  </div>
</md-card>
