<mat-card>
  <app-searchandadd [(searchText)]="searchText" (onCreate)="createProductVersion($event)" (onFilter)="getProductVersions($event)"></app-searchandadd>
  <div *ngIf="productversions">
    <mat-card *ngFor="let productversion of productversions">
      <mat-card-title-group [routerLink]="['/products', productversion.productGuid, 'versions', productversion.guid, 'details']">
        <mat-card-subtitle>
          <mat-icon>assignment circle</mat-icon>
        </mat-card-subtitle>
        <mat-card-title>{{productversion.name}}</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <div>{{productversion.releaseDate | date:'yyyy-MM-dd'}}</div>
      </mat-card-content>
      <mat-card-actions align='end'>
        <button mat-mini-fab [routerLink]="['/products', productversion.productGuid, 'versions', productversion.guid, 'details']">
          <mat-icon>details</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="deleteProductVersion(productversion)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>