<h1>{{project.Name}}</h1>
<button uiSref='projectDetails' md-raised-button md-tooltip="Project Details">Details</button>
<button uiSref='projectProducts' md-raised-button md-tooltip="View Products involved in this Project">Products</button>
<button uiSref='projectMembers' md-raised-button md-tooltip="Project Members">Members</button>
<md-card>

<div *ngIf="project">
   <md-input [(ngModel)]="project.Name" placeholder="Name"></md-input>
   <md-input [(ngModel)]='project.StartDate' placeholder="StartDate"></md-input>
</div>
<div *ngIf="!project">
  Error loading project
</div>
</md-card>