<mat-card>
  <app-searchandadd [(searchText)]="searchText" (onCreate)="createEntityElement($event)" (onFilter)="getEntityElements($event)"></app-searchandadd>
  <div *ngIf="design && epicElement && entityElements">
    <mat-card *ngFor="let entityElement of entityElements">
      <mat-card-subtitle>entity</mat-card-subtitle>
      <mat-card-title [routerLink]="['/designs',design.guid,'epicelements',epicElement.guid,'entityelements',entityElement.guid, 'details']">{{entityElement.name}}</mat-card-title>
      <mat-card-actions align='end'>
        <button [routerLink]="['/designs',design.guid,'epicelements',epicElement.guid,'entityelements',entityElement.guid, 'details']"><mat-icon>details</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>
