<mat-card>
  <mat-input-container>
    <input matInput #searchTextInput [(ngModel)]="searchText" placeholder="Type to search ..." (keyup)="getEntityElements(searchTextInput.value || '')"
      (keyup.enter)='createEntityElement(searchTextInput.value)' />
  </mat-input-container>
  <button mat-raised-button mat-tooltip="Add new entity" (click)="createEntityElement(searchTextInput.value)">Add</button>
  <div *ngIf="design && epicElement && entityElements">
    <mat-card *ngFor="let entityElement of entityElements">
      <mat-card-subtitle>entity</mat-card-subtitle>
      <mat-card-title [routerLink]="['/designs',design.guid,'epicelements',epicElement.guid,'entityelements',entityElement.guid, 'details']">{{entityElement.name}}</mat-card-title>
      <mat-card-actions align='end'>
        <button [routerLink]="['/designs',design.guid,'epicelements',epicElement.guid,'entityelements',entityElement.guid, 'details']"><mat-icon>details</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>
