<md-card>
  <md-input-container>
    <input mdInput #searchTextInput [(ngModel)]="searchText" (ngModelChange)="searchTextChanged()" placeholder="Type to search ..."
      (keyup)="getDatabases(searchTextInput.value)" (keyup.enter)='createDatabase(searchTextInput.value)'
    />
  </md-input-container>
  <button [disabled]='!canAdd' md-raised-button md-tooltip="Add new database" (click)="createDatabase(searchTextInput.value)">Add</button>
  <md-card *ngFor="let database of databases">
    <md-card-title-group [routerLink]="[database.guid, 'details']">
      <md-card-subtitle>
        <md-icon>settings input composite</md-icon>
      </md-card-subtitle>
      <md-card-title>{{database.name}}</md-card-title>
    </md-card-title-group>
    <md-card-actions align='end'>
      <button md-mini-fab color="warn" (click)="deleteDatabase(database)">
        <md-icon>delete</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</md-card>