<mat-card>
  <app-searchandadd [(searchText)]="searchText" (onFilter)="getDatabases($event)" (onCreate)="createDatabase($event)"></app-searchandadd>
  <mat-card *ngFor="let database of databases">
    <mat-card-title-group [routerLink]="[database.guid, 'details']">
      <mat-card-subtitle>
        <mat-icon>settings input composite</mat-icon>
      </mat-card-subtitle>
      <mat-card-title>{{database.name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-actions align='end'>
      <button mat-mini-fab color="warn" (click)="deleteDatabase(database)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</mat-card>