<mat-card>
  <mat-input-container>
    <input matInput #searchTextInput [(ngModel)]="searchText" (ngModelChange)="searchTextChanged()" placeholder="Type to search ..."
      (keyup)="getDatabases(searchTextInput.value)" (keyup.enter)='createDatabase(searchTextInput.value)'
    />
  </mat-input-container>
  <button [disabled]='!canAdd' mat-raised-button mat-tooltip="Add new database" (click)="createDatabase(searchTextInput.value)">Add</button>
  <mat-card *ngFor="let database of databases">
    <mat-card-title-group [routerLink]="[database.guid, 'details']">
      <mat-card-subtitle>
        <mat-icon>settings input composite</mat-icon>
      </mat-card-subtitle>
      <mat-card-title>{{database.name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-actions align='end'>
      <button mat-mini-fab color="warn" (click)="deleteDatabase(database)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</mat-card>