<div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between start">
  <div style="width: 40%">
    <mat-input-container>
      <input type="search" matInput [disabled]='!canAdd' #searchTextInput [(ngModel)]="searchText" (ngModelChange)="searchTextChanged()" placeholder="Type to search ..."
        (keyup)="getFiles()" (keyup.enter)='createFile(searchTextInput.value)' />
    </mat-input-container>
    <button mat-raised-button [disabled]='!canAdd' mat-tooltip="Add new file" (click)="createFile(searchTextInput.value)">Add</button>
  </div>
  <div style="width: 60%">
    <app-file-upload [files]="files"></app-file-upload>
  </div>
</div>
<mat-list *ngIf="selectedFiles">
  <mat-list-item>
    <div *ngFor="let file of selectedFiles">{{file.name}}
      <span style="white-space:pre-wrap" *ngIf="selectedFiles.length>1">; </span>
    </div>
  </mat-list-item>
</mat-list>


<!-- compact layout -->
<div style="width: 100%" fxLayout="row" fxLayoutWrap>
  <div *ngFor="let file of files">
    <mat-card (mouseenter)="showActions(file)" (mouseleave)="hideActions(file)" fxFlex.gt-md="200" fxFlex.md="100" fxFlex.sm="100"
      fxFlex.xs="100">
      <mat-card-title-group [routerLink]="['/files',file.guid, 'details']">
        <mat-card-subtitle>
          <mat-icon>{{file.icon}}</mat-icon>
        </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <img (click)="zoomImage(file)" *ngIf="file.cardType==='image'" [src]="file.url">
        <video (click)="zoomImage(file)" controls *ngIf="file.cardType==='video'">
          <source [src]="file.url" [type]="file.contentType">
        </video>
        <!-- todo: scss styling -->
        <div>{{file.name}}</div>
        <div>{{file.description}}</div>
      </mat-card-content>
      <mat-card-actions align='end' *ngIf="file.showActions">
        <button mat-mini-fab [routerLink]="['/files', file.guid, 'details']">
          <mat-icon>details circle</mat-icon>
        </button>
        <a [attr.href]="file.url">
          <button mat-mini-fab [(disabled)]="!file.url">
            <mat-icon>file_download</mat-icon>
          </button>
        </a>
        <button mat-mini-fab color="warn" (click)="deleteFile(file)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>