img { 
    max-height: 200px;
    display: block;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
video {
    cursor: pointer;
    max-height: 200px;
}

mat-card {
    margin: 0.2em;
}