<mat-card>
  <mat-card-subtitle *ngIf="design">epic for <a [routerLink]="['/designs',design.guid, 'epicelements']">{{design.name}}</a></mat-card-subtitle>
  <mat-card-title *ngIf="epicElement">{{epicElement.name}}</mat-card-title>
  <mat-card-actions *ngIf="epicElement">
    <button routerLink='details' mat-raised-button mat-tooltip="Details">Details</button>
    <button [routerLink]="['entityelements']" mat-raised-button mat-tooltip="Entities">Entities</button>
    <button [routerLink]="['links']" mat-raised-button mat-tooltip="Links">Links</button>
    <button [routerLink]="['files']" mat-raised-button mat-tooltip="Links">Files</button>
  </mat-card-actions>
  <router-outlet></router-outlet>
</mat-card>
<div *ngIf="!epicElement">
  Loading ...
  <mat-spinner></mat-spinner>
</div>
