<md-card>
  <md-card-subtitle *ngIf="design">epic for <a [routerLink]="['/designs',design.guid, 'epicelements']">{{design.name}}</a></md-card-subtitle>
  <md-card-title *ngIf="epicElement">{{epicElement.name}}</md-card-title>
  <md-card-actions *ngIf="epicElement">
    <button routerLink='details' md-raised-button md-tooltip="Details">Details</button>
    <button [routerLink]="['entityelements']" md-raised-button md-tooltip="Entities">Entities</button>
    <button [routerLink]="['links',epicElement.guid]" md-raised-button md-tooltip="Links">Links</button>
  </md-card-actions>
  <router-outlet></router-outlet>
</md-card>
<div *ngIf="!epicElement">
  Loading ...
  <md-spinner></md-spinner>
</div>
