<p>details works</p>
<md-card *ngIf="product">
  <md-card-content>
    <md-card-content layout='row'>
      <md-input [(ngModel)]="product.Name" placeholder="Name"></md-input>
    </md-card-content>
    <md-card-content layout='row'>
      <md-input-container>
        <textarea rows=5 md-input [(ngModel)]="product.Description" placeholder="Description"></textarea>
      </md-input-container>
    </md-card-content>
    <md-card-content layout='row'>
      <md-input-container>
        <textarea rows='5' md-input [(ngModel)]="product.BusinessCase" placeholder="BusinessCase"></textarea>
      </md-input-container>
    </md-card-content>
    <md-card-content layout='row'>
      <md-input type='date' [(ngModel)]='product.EndDate' placeholder="EndDate"></md-input>
    </md-card-content>
  </md-card-content>
</md-card>
