<md-card *ngIf="product">
  <md-card-content>
    <md-card-content layout='row'>
      <input mdInput (blur)="changeName()" [(ngModel)]="product.name" placeholder="Name"/>
    </md-card-content>
    <md-card-content layout='row'>
      <md-input-container>
        <textarea (blur)="changeDescription()" rows=5 md-input [(ngModel)]="product.description" placeholder="Description"></textarea>
      </md-input-container>
    </md-card-content>
    <md-card-content layout='row'>
      <md-input-container>
        <textarea (blur)="changeBusinessCase()" rows='5' md-input [(ngModel)]="product.businessCase" placeholder="BusinessCase"></textarea>
      </md-input-container>
    </md-card-content>
  </md-card-content>
</md-card>
