<mat-card >
  <mat-card-title *ngIf="companyenvironment">{{companyenvironment.name}} Environment for <a [routerLink]="['/companies', company.guid, 'environments']" *ngIf="company">{{company.name}}</a></mat-card-title>
  <mat-card-content *ngIf="company"><div>{{company.name}}</div></mat-card-content>
  <button routerLink="details" mat-raised-button mat-tooltip="Details">Details</button>
  <button routerLink="hardware" mat-raised-button mat-tooltip="Hardware">(Virtual) Machines</button>
  <button routerLink="databases" mat-raised-button mat-tooltip="Databases">Databases</button>
  <button routerLink="accounts" mat-raised-button mat-tooltip="Accounts">Accounts</button>
  <button mat-raised-button mat-tooltip="todo: products">Product Installations</button>
  <button [routerLink]="['links']" mat-raised-button mat-tooltip="Links">Links</button>
  <button [routerLink]="['files']" mat-raised-button mat-tooltip="Files">Files</button>
  <router-outlet>
  </router-outlet>
</mat-card>
<div *ngIf="!companyenvironment">
  Loading companyenvironment <mat-spinner></mat-spinner>
</div>
