<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div style="margin-right:0.5em">
        <button mat-mini-fab (click)="openProductsDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
          <div style="margin-left: 0.2em" *ngFor="let productinstallation of productinstallations">
            <mat-card>
              <mat-card-title [routerLink]="['/product-installations', productinstallation.guid, 'details']">Installation</mat-card-title>
              <mat-card-content>
                <app-product-card [productGuid]="productinstallation.productGuid"></app-product-card>
                <p></p>
                <div *ngIf="productinstallation.startDate">From </div>
                <div>{{productinstallation.startDate}}</div>
                <div *ngIf="productinstallation.endDate"> to </div>
                <div>{{productinstallation.endDate}}</div>
                <div>ExternalId: {{productinstallation.externalId}}</div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-icon-button (click)="deleteProductInstallation(productinstallation)">
                  <mat-icon mat-mini-fab>delete</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>